:root {
    --Mobile: 375px;
    --Desktop: 1440px;

    --color-primary: hsl(25, 97%, 53%);
    --color-DarkPrimary: hsl(25, 64%, 44%);

    --color-White: hsl(0, 0%, 100%);
    --color-LightGrey: hsl(217, 12%, 63%);
    --color-MediumGrey: hsl(216, 12%, 54%);
    --color-Blue: hsl(213, 30%, 12%);
    --color-DarkBlue: hsl(213, 19%, 18%);
    --color-VeryDarkBlue: hsl(216, 12%, 8%);

    --Fontsize: 15px;
    --fontFamily: 'Overpass', sans-serif;
}

/* overall */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-VeryDarkBlue);

    color: var(--color-White);
    font-family: var(--fontFamily);
}

p {
    color: var(--color-LightGrey);
    font-size: var(--Fontsize);
}

a {
    color: var(--color-LightGrey);
}

h4 {
    background: var(--color-DarkBlue);
    border-radius: 2rem;
    padding: .5rem;
    margin: auto;
    color: var(--color-DarkPrimary);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

img {
    background-size: contain;
    margin: auto;
}

.icon-star {
    background-color: var(--color-DarkBlue);

    padding: 1rem;
    border-radius: 50%;
    margin-left: 0;
}

button {
    --color-bg: var(--color-DarkBlue);
    --color-t: var(--color-LightGrey);
    --color-hover-t: var(--color-White);

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;

    background: var(--color-bg);
    color: var(--color-t);

    font-weight: bold;
}

button:hover, button:focus {
    --color-bg: var(--color-primary);

    color: var(--color-hover-t);    
}

/* rating */
.rating, .thankYou {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    background: radial-gradient(circle at center 1%, var(--color-DarkBlue), var(--color-Blue) 60%);

    width: clamp(21rem, 100%, 25rem);
    padding: 2rem;
    border-radius: 2rem;
    margin: 1rem;
}

.rating_choice {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    width: 100%;
}

.rating_choice * {
    margin: 0 auto;
}

.rating_submit {
    --color-bg: var(--color-primary);
    --color-t: var(--color-White);

    width: 100%;
    border-radius: 2rem;

    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.rating_submit:hover, .rating_submit:focus {
    --color-hover-t: var(--color-primary);
    --color-bg: var(--color-t);
}

#active{
    --color-bg: var(--color-LightGrey);
    --color-t: var(--color-White);
}

/* thankYou */
.thankYou {
    display: none;
    text-align: center;
}